extends layout

block content

  nav.navbar.navbar-default.navbar-fixed-top#pasek(style='visibility: hidden;')
    .container
      .navbar-header
        a.navbar-brand#title(href="#" data-toggle="modal" data-target="#infoModal") iAmHere 2.1
        #myButtons
            button.btn.btn-sm.btn-info.head#mapbutton(style="display: none;")
                i.fa.fa-globe.fa-lg
            button.btn.btn-sm.btn-info.head#privateChatbutton(style="display: none;")
                i.fa.fa-user.fa-lg
            button.btn.btn-sm.btn-info.head#chatbutton
                i.fa.fa-commenting.fa-lg

  .container#mapa(style='display: none;')

  .container#splash
      h1 I<br>Am<br>Here
      br
      br
      br
      button#startApp.btn.btn-lg.btn-primary.btn-block(type="button") Start
      p#authors iAmHere 2.11, (c) mkrok, 2017

  .container#signin(style='display: none;')
      h1#headline iAmHere 2.1
      form.form-signin
          br
          #authInfo.form-signin-heading Please sign in
          #authForm
              input#username.form-control(type="text" maxlength="10" placeholder="username" required autofocus)
              input#password.form-control(type="password" maxlength="20" placeholder="password" required)
              button#login.btn.btn-lg.btn-primary.btn-block(type="button") Sign in
              button#register.btn.btn-lg.btn-primary.btn-block(type="button") Register
              br
              p#err
              br

  .container#chat(style='display: none;')
    .row
        .col-xs-3#lewy
            #usersWrapper
                #users
        .col-xs-9#prawy
            #chat-box-div
                #chatlog-display-div
    .row
        .col-xs-12
            form#chatform(action="")
                .form-group
                    input#chat-box-div-submit.submit(type="submit" value="Send")
                    input#chat-box-div-txtinpt.form-control(type="text" autocomplete="off"  maxlength="255" spellcheck="false" placeholder="Type a message")
    br
    .row
        .col-xs-12
            #activeRoomWrapper
                p#activeRoom

  .container#privateChat(style='display: none;')
      .row
          .col-xs-12
              #pm-display
      .row
          .col-xs-12
              form#privateChatform
                  .form-group
                      input#privateChatSubmit.submit(type="submit" value="Send")
                      input#privateChatTxt.form-control(type="text" autocomplete="off" maxlength="255" spellcheck="false" placeholder="Type a message")
      .row
          .col-xs-12
              br
              #privateChatWrapper
                  p#activeUsers Private chat


  //-- Modal --
  #infoModal.modal.fade(role="dialog")
    .modal-dialog.modal-sm
      //-- Modal content
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title iAmHere 2.1
        .modal-body
          p miroslaw.krok@gmail.com

  audio#errorSound(src = "/sounds/error.mp3" preload="auto")
  audio#chatSound(src = "/sounds/chat.mp3" preload="auto")
  script(src="/javascripts/initMap.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY=initMap")
  script(src='/javascripts/twaEmojiParser.js')
  script(src='/javascripts/iAH.js')
