doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script( async defer )
  body
      #root
          script(src="dist/app.bundle.js")
